<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Ruby</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.ruby</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblm.ruby.languagesupport</key>
	<dict/>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMBalanceSpecialRunKinds</key>
			<array>
				<string>com.barebones.bblm.ruby.symbol</string>
				<string>com.barebones.bblm.ruby.regexp</string>
				<string>com.barebones.bblm.ruby.heredoc-content</string>
				<string>com.barebones.bblm.ruby.heredoc-comment</string>
			</array>
			<key>BBLMBuiltInCommands</key>
			<array>
				<dict>
					<key>BBLMCommandArguments</key>
					<array>
						<string>-c</string>
					</array>
					<key>BBLMCommandName</key>
					<string>CheckSyntax</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandSaveDocumentBeforeRunning</key>
						<true/>
						<key>BBLMErrorParsePattern</key>
						<string>ruby</string>
						<key>BBLMParseErrorsFromSTDERR</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<string>ruby</string>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
				<dict>
					<key>BBLMCommandName</key>
					<string>Run</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandSaveDocumentBeforeRunning</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<array>
						<string>ruby</string>
					</array>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
				<dict>
					<key>BBLMCommandName</key>
					<string>Debug</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandSaveDocumentBeforeRunning</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<array>
						<string>pydoc</string>
					</array>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
			</array>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string># </string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.ruby.heredoc-tag</string>
				<string>com.barebones.bblm.ruby.symbol</string>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>RubyMachO</string>
			<key>BBLMFileNamesToMatch</key>
			<array>
				<string>Rakefile</string>
				<string>Capfile</string>
			</array>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>Keywords</key>
					<array>
						<string>%</string>
						<string>%q</string>
						<string>%Q</string>
						<string>%r</string>
						<string>%R</string>
						<string>%w</string>
						<string>%W</string>
						<string>%x</string>
						<string>=begin</string>
						<string>=end</string>
						<string>BEGIN</string>
						<string>END</string>
						<string>__END__</string>
						<string>__FILE__</string>
						<string>__LINE__</string>
						<string>alias</string>
						<string>and</string>
						<string>begin</string>
						<string>break</string>
						<string>case</string>
						<string>class</string>
						<string>def</string>
						<string>defined?</string>
						<string>do</string>
						<string>else</string>
						<string>elsif</string>
						<string>end</string>
						<string>ensure</string>
						<string>false</string>
						<string>for</string>
						<string>if</string>
						<string>in</string>
						<string>module</string>
						<string>next</string>
						<string>nil</string>
						<string>not</string>
						<string>or</string>
						<string>redo</string>
						<string>require</string>
						<string>rescue</string>
						<string>retry</string>
						<string>return</string>
						<string>self</string>
						<string>super</string>
						<string>then</string>
						<string>true</string>
						<string>undef</string>
						<string>unless</string>
						<string>until</string>
						<string>when</string>
						<string>while</string>
						<string>yield</string>
					</array>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>Keywords</key>
					<array>
						<string>`</string>
						<string>Array</string>
						<string>Float</string>
						<string>Integer</string>
						<string>String</string>
						<string>at_exit</string>
						<string>autoload</string>
						<string>binding</string>
						<string>caller</string>
						<string>catch</string>
						<string>chop</string>
						<string>chop!</string>
						<string>chomp</string>
						<string>chomp!</string>
						<string>eval</string>
						<string>exec</string>
						<string>exit</string>
						<string>exit!</string>
						<string>fail</string>
						<string>fork</string>
						<string>format</string>
						<string>gets</string>
						<string>global_variables</string>
						<string>gsub</string>
						<string>gsub!</string>
						<string>iterator?</string>
						<string>lambda</string>
						<string>load</string>
						<string>local_variables</string>
						<string>loop</string>
						<string>open</string>
						<string>p</string>
						<string>print</string>
						<string>printf</string>
						<string>proc</string>
						<string>putc</string>
						<string>puts</string>
						<string>raise</string>
						<string>rand</string>
						<string>readline</string>
						<string>readlines</string>
						<string>require</string>
						<string>select</string>
						<string>sleep</string>
						<string>split</string>
						<string>sprintf</string>
						<string>srand</string>
						<string>sub</string>
						<string>sub!</string>
						<string>syscall</string>
						<string>system</string>
						<string>test</string>
						<string>trace_var</string>
						<string>trap</string>
						<string>untrace_var</string>
						<string>TRUE</string>
						<string>FALSE</string>
						<string>NIL</string>
						<string>ARGF</string>
						<string>ARGV</string>
						<string>DATA</string>
						<string>ENV</string>
						<string>RUBY_PLATFORM</string>
						<string>RUBY_RELEASE_DATE</string>
						<string>RUBY_VERSION</string>
						<string>STDERR</string>
						<string>STDIN</string>
						<string>STDOUT</string>
						<string>TOPLEVEL_BINDING</string>
					</array>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Ruby</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Ruby</string>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.string</string>
			</array>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string>x-rubydoc://lookup/__SYMBOLNAME__</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.ruby.gen-delim</key>
				<string>==com.barebones.bblm.string</string>
				<key>com.barebones.bblm.ruby.heredoc-comment</key>
				<string>==com.barebones.bblm.comment</string>
				<key>com.barebones.bblm.ruby.heredoc-content</key>
				<string>==com.barebones.bblm.heredoc-string</string>
				<key>com.barebones.bblm.ruby.heredoc-tag</key>
				<string>==com.barebones.bblm.heredoc-string</string>
				<key>com.barebones.bblm.ruby.regexp</key>
				<string>rgba(0.811, 0.145, 0.141, 1.0)</string>
				<key>com.barebones.bblm.ruby.symbol</key>
				<string>rgba(0.067765316, 0.504417487 ,0.719462882, 1.0)</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.ruby.regexp</key>
				<string>Regular expressions</string>
				<key>com.barebones.bblm.ruby.symbol</key>
				<string>Symbols</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.rb</string>
				</dict>
			</array>
			<key>BBLMSupportsSubrangeFunctionScan</key>
			<true/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMSupportsWordLookup</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
