<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VerilogHDL</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.verilog</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>// </string>
			<key>BBLMCommentPrefixDefault</key>
			<string>/* </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> */</string>
			<key>BBLMEntryPointName</key>
			<string>VerilogMachO</string>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywordList</key>
			<array>
				<string>always</string>
				<string>and</string>
				<string>assign</string>
				<string>automatic</string>
				<string>begin</string>
				<string>buf</string>
				<string>bufif0</string>
				<string>bufif1</string>
				<string>case</string>
				<string>casex</string>
				<string>casez</string>
				<string>cell</string>
				<string>cmos</string>
				<string>config</string>
				<string>deassign</string>
				<string>default</string>
				<string>define</string>
				<string>defparam</string>
				<string>design</string>
				<string>disable</string>
				<string>edge</string>
				<string>else</string>
				<string>elsif</string>
				<string>end</string>
				<string>endcase</string>
				<string>endconfig</string>
				<string>endfunction</string>
				<string>endgenerate</string>
				<string>endif</string>
				<string>endmodule</string>
				<string>endprimitive</string>
				<string>endspecify</string>
				<string>endtable</string>
				<string>endtask</string>
				<string>event</string>
				<string>for</string>
				<string>force</string>
				<string>forever</string>
				<string>fork</string>
				<string>function</string>
				<string>generate</string>
				<string>genvar</string>
				<string>highz0</string>
				<string>highz1</string>
				<string>if</string>
				<string>ifdef</string>
				<string>ifndef</string>
				<string>import</string>
				<string>include</string>
				<string>initial</string>
				<string>inout</string>
				<string>input</string>
				<string>instance</string>
				<string>integer</string>
				<string>join</string>
				<string>large</string>
				<string>liblist</string>
				<string>line</string>
				<string>localparam</string>
				<string>macromodule</string>
				<string>medium</string>
				<string>module</string>
				<string>nand</string>
				<string>negedge</string>
				<string>nmos</string>
				<string>nor</string>
				<string>noshowcancelled</string>
				<string>not</string>
				<string>notif0</string>
				<string>notif1</string>
				<string>or</string>
				<string>output</string>
				<string>parameter</string>
				<string>pmos</string>
				<string>posedge</string>
				<string>primitive</string>
				<string>pull0</string>
				<string>pull1</string>
				<string>pulldown</string>
				<string>pullup</string>
				<string>pulsestyle_ondetect</string>
				<string>pulsestyle_onevent</string>
				<string>rcmos</string>
				<string>reg</string>
				<string>release</string>
				<string>repeat</string>
				<string>rnmos</string>
				<string>rpmos</string>
				<string>rtran</string>
				<string>rtranif0</string>
				<string>rtranif1</string>
				<string>scalared</string>
				<string>showcancelled</string>
				<string>signed</string>
				<string>small</string>
				<string>specify</string>
				<string>specparam</string>
				<string>strong0</string>
				<string>strong1</string>
				<string>supply0</string>
				<string>supply1</string>
				<string>table</string>
				<string>task</string>
				<string>time</string>
				<string>tran</string>
				<string>tranif0</string>
				<string>tranif1</string>
				<string>tri</string>
				<string>tri0</string>
				<string>tri1</string>
				<string>triand</string>
				<string>trior</string>
				<string>trireg</string>
				<string>use</string>
				<string>uselib</string>
				<string>vectored</string>
				<string>wait</string>
				<string>wand</string>
				<string>weak0</string>
				<string>weak1</string>
				<string>while</string>
				<string>wire</string>
				<string>wor</string>
				<string>xnor</string>
				<string>xor</string>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Veri</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Verilog HDL</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.verilog-hdl.comment-1</key>
				<string>rgb(250, 0, 0)</string>
				<key>com.barebones.bblm.verilog-hdl.comment-2</key>
				<string>rgba(0.333333333, 0.333333333, 0.333333333, 1.0)</string>
				<key>com.barebones.bblm.verilog-hdl.comment-3</key>
				<string>rgba(0.5, 0.75, 0.25, 1.0)</string>
				<key>com.barebones.bblm.verilog-hdl.input-type</key>
				<string>rgba(0.6, 0.0, 0.4, 1.0)</string>
				<key>com.barebones.bblm.verilog-hdl.output-type</key>
				<string>rgba(0.6, 0.0, 0.4, 1.0)</string>
				<key>com.barebones.bblm.verilog-hdl.register-type</key>
				<string>rgba(0.811, 0.145, 0.141, 1.0)</string>
				<key>com.barebones.bblm.verilog-hdl.wire-type</key>
				<string>rgba(0.2, 0.4, 0.6, 1.0)</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.verilog-hdl.comment-1</key>
				<string>Comment level 1</string>
				<key>com.barebones.bblm.verilog-hdl.comment-2</key>
				<string>Comment level 2</string>
				<key>com.barebones.bblm.verilog-hdl.comment-3</key>
				<string>Comment level 3</string>
				<key>com.barebones.bblm.verilog-hdl.input-type</key>
				<string>Input</string>
				<key>com.barebones.bblm.verilog-hdl.output-type</key>
				<string>Output</string>
				<key>com.barebones.bblm.verilog-hdl.register-type</key>
				<string>Register</string>
				<key>com.barebones.bblm.verilog-hdl.wire-type</key>
				<string>Wire</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.v</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.vl</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
