<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Markdown</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.markdown</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblm.markdown.languagesupport</key>
	<dict>
		<key>HTMLBlockTags</key>
		<array>
			<string>p</string>
			<string>div</string>
			<string>h1</string>
			<string>h2</string>
			<string>h3</string>
			<string>h4</string>
			<string>h5</string>
			<string>h6</string>
			<string>blockquote</string>
			<string>pre</string>
			<string>table</string>
			<string>dl</string>
			<string>ol</string>
			<string>ul</string>
			<string>script</string>
			<string>noscript</string>
			<string>form</string>
			<string>fieldset</string>
			<string>iframe</string>
			<string>math</string>
			<string>ins</string>
			<string>del</string>
			<string>section</string>
		</array>
	</dict>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<true/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentPrefixDefault</key>
			<string>&lt;!-- </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> --&gt;</string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>*</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>MarkdownMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMLanguageCode</key>
			<string>MRKD</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Markdown</string>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.markdown.BlankLine</string>
				<string>com.barebones.bblm.markdown.QuotedBlankLine</string>
				<string>com.barebones.bblm.markdown.ListItemMarker</string>
				<string>com.barebones.bblm.markdown.QuotedListItemMarker</string>
				<string>com.barebones.bblm.markdown.ListListItemMarker</string>
				<string>com.barebones.bblm.markdown.QuotedListListItemMarker</string>
				<string>com.barebones.bblm.markdown.Keyword</string>
				<string>com.barebones.bblm.markdown.QuotedKeyword</string>
				<string>com.barebones.bblm.markdown.ListKeyword</string>
				<string>com.barebones.bblm.markdown.QuotedListKeyword</string>
				<string>com.barebones.bblm.markdown.HorizontalRule</string>
				<string>com.barebones.bblm.markdown.QuotedHorizontalRule</string>
				<string>com.barebones.bblm.markdown.ListHorizontalRule</string>
				<string>com.barebones.bblm.markdown.QuotedListHorizontalRule</string>
				<string>com.barebones.bblm.markdown.InlineCode</string>
				<string>com.barebones.bblm.markdown.QuotedInlineCode</string>
				<string>com.barebones.bblm.markdown.ListInlineCode</string>
				<string>com.barebones.bblm.markdown.QuotedListInlineCode</string>
				<string>com.barebones.bblm.markdown.Pre</string>
				<string>com.barebones.bblm.markdown.QuotedPre</string>
				<string>com.barebones.bblm.markdown.ListPre</string>
				<string>com.barebones.bblm.markdown.QuotedListPre</string>
				<string>com.barebones.bblm.markdown.LinkDefId</string>
				<string>com.barebones.bblm.markdown.QuotedLinkDefId</string>
				<string>com.barebones.bblm.markdown.ListLinkDefId</string>
				<string>com.barebones.bblm.markdown.QuotedListLinkDefId</string>
				<string>com.barebones.bblm.markdown.LinkDefUrl</string>
				<string>com.barebones.bblm.markdown.QuotedLinkDefUrl</string>
				<string>com.barebones.bblm.markdown.ListLinkDefUrl</string>
				<string>com.barebones.bblm.markdown.QuotedListLinkDefUrl</string>
				<string>com.barebones.bblm.markdown.ImageId</string>
				<string>com.barebones.bblm.markdown.QuotedImageId</string>
				<string>com.barebones.bblm.markdown.ListImageId</string>
				<string>com.barebones.bblm.markdown.QuotedListImageId</string>
				<string>com.barebones.bblm.markdown.Fenced</string>
				<string>com.barebones.bblm.markdown.QuotedFenced</string>
				<string>com.barebones.bblm.markdown.ListFenced</string>
				<string>com.barebones.bblm.markdown.QuotedListFenced</string>
				<string>com.barebones.bblm.markdown.FencedDelim</string>
				<string>com.barebones.bblm.markdown.QuotedFencedDelim</string>
				<string>com.barebones.bblm.markdown.ListFencedDelim</string>
				<string>com.barebones.bblm.markdown.QuotedListFencedDelim</string>
			</array>
			<key>BBLMPreferredFilenameExtension</key>
			<string>md</string>
			<key>BBLMPreviewHTMLGenerator</key>
			<dict>
				<key>BBLMPreviewCommandPath</key>
				<string>Markdown.pl</string>
				<key>BBLMPreviewCommandType</key>
				<string>ScriptInBundleResource</string>
			</dict>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.markdown.*BlankLine</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.markdown.*Emph</key>
				<string>==com.barebones.bblm.markdown.Emph</string>
				<key>com.barebones.bblm.markdown.*Fenced</key>
				<string>==com.barebones.bblm.markdown.Fenced</string>
				<key>com.barebones.bblm.markdown.*FencedDelim</key>
				<string>==com.barebones.bblm.keyword</string>
				<key>com.barebones.bblm.markdown.*HorizontalRule</key>
				<string>==com.barebones.bblm.markdown.HorizontalRule</string>
				<key>com.barebones.bblm.markdown.*Html</key>
				<string>==com.barebones.bblm.sgml-tag</string>
				<key>com.barebones.bblm.markdown.*ImageId</key>
				<string>==com.barebones.bblm.markdown.ImageId</string>
				<key>com.barebones.bblm.markdown.*InlineCode</key>
				<string>==com.barebones.bblm.markdown.InlineCode</string>
				<key>com.barebones.bblm.markdown.*InlineLinkText</key>
				<string>==com.barebones.bblm.markdown.InlineLinkText</string>
				<key>com.barebones.bblm.markdown.*Keyword</key>
				<string>==com.barebones.bblm.markdown.Keyword</string>
				<key>com.barebones.bblm.markdown.*LinkDefId</key>
				<string>==com.barebones.bblm.markdown.LinkDefId</string>
				<key>com.barebones.bblm.markdown.*LinkDefTitle</key>
				<string>==com.barebones.bblm.markdown.LinkDefTitle</string>
				<key>com.barebones.bblm.markdown.*LinkDefUrl</key>
				<string>==com.barebones.bblm.markdown.LinkDefUrl</string>
				<key>com.barebones.bblm.markdown.*ListItemMarker</key>
				<string>==com.barebones.bblm.markdown.ListItemMarker</string>
				<key>com.barebones.bblm.markdown.*Pre</key>
				<string>==com.barebones.bblm.markdown.Pre</string>
				<key>com.barebones.bblm.markdown.*QuoteMarker</key>
				<string>==com.barebones.bblm.markdown.QuoteMarker</string>
				<key>com.barebones.bblm.markdown.Content</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.markdown.Emph</key>
				<string>rgb(223, 15, 22)</string>
				<key>com.barebones.bblm.markdown.Fenced</key>
				<string>==com.barebones.bblm.markdown.Pre</string>
				<key>com.barebones.bblm.markdown.FencedDelim</key>
				<string>==com.barebones.bblm.keyword</string>
				<key>com.barebones.bblm.markdown.HorizontalRule</key>
				<string>rgba(0.333333333, 0.333333333, 0.333333333, 1.0)</string>
				<key>com.barebones.bblm.markdown.ImageAltText</key>
				<string>rgba(0.6, 0.2, 0.0, 1.0)</string>
				<key>com.barebones.bblm.markdown.ImageId</key>
				<string>rgba(0.0, 0.466666667, 0.466666667, 1.0)</string>
				<key>com.barebones.bblm.markdown.InlineCode</key>
				<string>rgba(0.2, 0.4, 0.6, 1.0)</string>
				<key>com.barebones.bblm.markdown.InlineLinkText</key>
				<string>rgba(0.666666667, 0.0, 0.0, 1.0)</string>
				<key>com.barebones.bblm.markdown.Keyword</key>
				<string>rgba(0.0, 0.0, 0.8, 1.0)</string>
				<key>com.barebones.bblm.markdown.LinkDefId</key>
				<string>rgba(0.6, 0.0, 0.4, 1.0)</string>
				<key>com.barebones.bblm.markdown.LinkDefTitle</key>
				<string>rgba(0.2, 0.4, 0.6, 1.0)</string>
				<key>com.barebones.bblm.markdown.LinkDefUrl</key>
				<string>rgba(0.6, 0.2, 0.0, 1.0)</string>
				<key>com.barebones.bblm.markdown.ListContent</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.markdown.ListItemMarker</key>
				<string>rgba(0.811, 0.145, 0.141, 1.0)</string>
				<key>com.barebones.bblm.markdown.Pre</key>
				<string>rgba(0.2, 0.4, 0.6, 1.0)</string>
				<key>com.barebones.bblm.markdown.QuoteMarker</key>
				<string>rgba(1.0, 0.2, 0.6, 1.0)</string>
				<key>com.barebones.bblm.markdown.Quoted*Content</key>
				<string>==com.barebones.bblm.markdown.QuotedContent</string>
				<key>com.barebones.bblm.markdown.QuotedContent</key>
				<string>rgba(0.333333333, 0.333333333, 0.333333333, 1.0)</string>
				<key>com.barebones.bblm.markdown.QuotedImageAltText</key>
				<string>==com.barebones.bblm.markdown.ImageAltText</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.markdown.Emph</key>
				<string>Emphasized text</string>
				<key>com.barebones.bblm.markdown.HorizontalRule</key>
				<string>Horizontal rule</string>
				<key>com.barebones.bblm.markdown.ImageAltText</key>
				<string>Image alt text</string>
				<key>com.barebones.bblm.markdown.ImageId</key>
				<string>Image ID</string>
				<key>com.barebones.bblm.markdown.InlineCode</key>
				<string>Inline code</string>
				<key>com.barebones.bblm.markdown.InlineLinkText</key>
				<string>Inline link text</string>
				<key>com.barebones.bblm.markdown.Keyword</key>
				<string>Keywords</string>
				<key>com.barebones.bblm.markdown.LinkDefId</key>
				<string>Link definition ID</string>
				<key>com.barebones.bblm.markdown.LinkDefTitle</key>
				<string>Link definition title</string>
				<key>com.barebones.bblm.markdown.LinkDefUrl</key>
				<string>Link definition URL</string>
				<key>com.barebones.bblm.markdown.ListItemMarker</key>
				<string>List item marker</string>
				<key>com.barebones.bblm.markdown.Pre</key>
				<string>Preformatted text</string>
				<key>com.barebones.bblm.markdown.QuoteMarker</key>
				<string>Block quote marker</string>
				<key>com.barebones.bblm.markdown.QuotedContent</key>
				<string>Block quoted content</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>*</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.text</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.mark</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.markdown</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.md</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.mdown</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMSupportsWordLookup</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
