<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TeX</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.tex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblm.TeX.languagesupport</key>
	<dict>
		<key>TeX </key>
		<dict>
			<key>SectionalCommandList</key>
			<array>
				<string>part</string>
				<string>section</string>
				<string>subsection</string>
				<string>subsubsection</string>
				<string>chapter</string>
				<string>subchapter</string>
				<string>subsubchapter</string>
			</array>
		</dict>
	</dict>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMBalanceSpecialRunKinds</key>
			<array>
				<string>com.barebones.bblm.TeX.content</string>
			</array>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>%</string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.TeX.content</string>
				<string>com.barebones.bblm.TeX.verbatim</string>
				<string>com.barebones.bblm.TeX.inline-verbatim</string>
				<string>com.barebones.bblm.TeX.command</string>
				<string>com.barebones.bblm.TeX.param-string-command</string>
				<string>com.barebones.bblm.TeX.param-content</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>TeXMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMLanguageCode</key>
			<string>TeX </string>
			<key>BBLMLanguageDisplayName</key>
			<string>TeX</string>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.TeX.verbatim</string>
				<string>com.barebones.bblm.TeX.inline-verbatim</string>
				<string>com.barebones.bblm.TeX.command</string>
				<string>com.barebones.bblm.TeX.math-string</string>
				<string>com.barebones.bblm.TeX.delimiter-start</string>
				<string>com.barebones.bblm.TeX.delimiter-stop</string>
				<string>com.barebones.bblm.TeX.param-command</string>
				<string>com.barebones.bblm.TeX.param-math-string</string>
				<string>com.barebones.bblm.TeX.param-string-command</string>
			</array>
			<key>BBLMPredefinedNameList</key>
			<array>
				<string>\begin</string>
				<string>\end</string>
				<string>\part</string>
				<string>\section</string>
				<string>\subsection</string>
				<string>\subsubsection</string>
				<string>\chapter</string>
				<string>\subchapter</string>
				<string>\subsubchapter</string>
				<string>\paragraph</string>
				<string>\subparagraph</string>
				<string>\author</string>
				<string>\date</string>
				<string>\documentclass</string>
				<string>\maketitle</string>
				<string>\title</string>
				<string>\usepackage</string>
				<string>\evensidemargin</string>
				<string>\footskip</string>
				<string>\headheight</string>
				<string>\headsep</string>
				<string>\oddsidemargin</string>
				<string>\textheight</string>
				<string>\textwidth</string>
				<string>\topmargin</string>
				<string>\start</string>
				<string>\stop</string>
				<string>\verb</string>
				<string>\label</string>
				<string>\def</string>
				<string>\newcommand</string>
				<string>\renewcommand</string>
				<string>\providecommand</string>
				<string>\newenvironment</string>
				<string>\renewenvironment</string>
				<string>\big</string>
				<string>\Big</string>
				<string>\bigg</string>
				<string>document</string>
				<string>itemize</string>
				<string>align</string>
				<string>alignat</string>
				<string>displaymath</string>
				<string>equation</string>
				<string>falign</string>
				<string>gather</string>
				<string>math</string>
				<string>multline</string>
			</array>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.TeX.*comment</key>
				<string>==com.barebones.bblm.comment</string>
				<key>com.barebones.bblm.TeX.*math-string</key>
				<string>==com.barebones.bblm.TeX.math-string</string>
				<key>com.barebones.bblm.TeX.*string-command</key>
				<string>==com.barebones.bblm.string</string>
				<key>com.barebones.bblm.TeX.*verbatim</key>
				<string>==com.barebones.bblm.TeX.verbatim</string>
				<key>com.barebones.bblm.TeX.command</key>
				<string>==com.barebones.bblm.keyword</string>
				<key>com.barebones.bblm.TeX.content</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.TeX.delimiter-*</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.TeX.math-string</key>
				<string>rgba(0.811, 0.145, 0.141, 1.0)</string>
				<key>com.barebones.bblm.TeX.param-command</key>
				<string>==com.barebones.bblm.keyword</string>
				<key>com.barebones.bblm.TeX.param-content</key>
				<string>rgba(0.067765316, 0.504417487 ,0.719462882, 1.0)</string>
				<key>com.barebones.bblm.TeX.verbatim</key>
				<string>rgba(0.082024,0.507172,0.202095,1.000000)</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.TeX.math-string</key>
				<string>Math strings</string>
				<key>com.barebones.bblm.TeX.param-content</key>
				<string>Parameter contents</string>
				<key>com.barebones.bblm.TeX.verbatim</key>
				<string>Verbatim text</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>*</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.tex</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
