<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Java</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.java</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMBalanceSpecialRunKinds</key>
			<array>
				<string>com.barebones.bblm.Java.stringsubst</string>
				<string>com.barebones.bblm.Java.stringtag</string>
				<string>com.barebones.bblm.Java.stringtagattr</string>
				<string>com.barebones.bblm.Java.stringtagvalue</string>
				<string>com.barebones.bblm.Java.stringprocdir</string>
				<string>com.barebones.bblm.Java.stringcomment</string>
				<string>com.barebones.bblm.Java.regexp</string>
			</array>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>// </string>
			<key>BBLMCommentPrefixDefault</key>
			<string>/* </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> */</string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMDroppedFilePathStyle</key>
			<string>URL</string>
			<key>BBLMEntryPointName</key>
			<string>JavaMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<false/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywordList</key>
			<array>
				<string>abstract</string>
				<string>assert</string>
				<string>boolean</string>
				<string>break</string>
				<string>byte</string>
				<string>byvalue</string>
				<string>case</string>
				<string>catch</string>
				<string>char</string>
				<string>class</string>
				<string>const</string>
				<string>continue</string>
				<string>default</string>
				<string>do</string>
				<string>double</string>
				<string>else</string>
				<string>enum</string>
				<string>extends</string>
				<string>false</string>
				<string>final</string>
				<string>finally</string>
				<string>float</string>
				<string>for</string>
				<string>goto</string>
				<string>if</string>
				<string>implements</string>
				<string>import</string>
				<string>instanceof</string>
				<string>int</string>
				<string>interface</string>
				<string>long</string>
				<string>native</string>
				<string>new</string>
				<string>null</string>
				<string>package</string>
				<string>private</string>
				<string>protected</string>
				<string>public</string>
				<string>return</string>
				<string>short</string>
				<string>static</string>
				<string>strictfp</string>
				<string>super</string>
				<string>switch</string>
				<string>synchronized</string>
				<string>this</string>
				<string>threadsafe</string>
				<string>throw</string>
				<string>throws</string>
				<string>transient</string>
				<string>true</string>
				<string>try</string>
				<string>void</string>
				<string>volatile</string>
				<string>while</string>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Java</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Java</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
				<string>com.barebones.bblm.Java.stringsubst</string>
				<string>com.barebones.bblm.Java.stringtag</string>
				<string>com.barebones.bblm.Java.stringtagattr</string>
				<string>com.barebones.bblm.Java.stringtagvalue</string>
				<string>com.barebones.bblm.Java.stringprocdir</string>
				<string>com.barebones.bblm.Java.stringcomment</string>
				<string>com.barebones.bblm.Java.regexp</string>
			</array>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.java</string>
				</dict>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.j</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMSupportsWordLookup</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
