<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Strings</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.strings</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMAlwaysGuessLanguage</key>
			<true/>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>// </string>
			<key>BBLMEntryPointName</key>
			<string>StringsMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<false/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMLanguageCode</key>
			<string>STRS</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Strings File</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.Strings.assignment</key>
				<string>==com.barebones.bblm.code</string>
				<key>com.barebones.bblm.Strings.semicolon</key>
				<string>==com.barebones.bblm.code</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.string</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.strings</string>
				</dict>
			</array>
			<key>BBLMSupportsCFStringKeywordLookups</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
