<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CSS</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.css</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string></string>
			<key>BBLMCommentPrefixDefault</key>
			<string>/* </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> */</string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>CSSMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Predefined Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Color Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.color-spec</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>CSS </string>
			<key>BBLMLanguageDisplayName</key>
			<string>CSS</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.double-string</string>
				<string>com.barebones.bblm.single-string</string>
			</array>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string></string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>rgba(0.816162,0.136085,0.145172,1.000000)</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>Color Specification</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.block-comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.css</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMSupportsWordLookup</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>// </string>
			<key>BBLMCommentPrefixDefault</key>
			<string>/* </string>
			<key>BBLMCommentSuffixDefault</key>
			<string> */</string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>CSSMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>SCSS Keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Predefined Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>CSS Color Names.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.css.color-spec</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>SCSS</string>
			<key>BBLMLanguageDisplayName</key>
			<string>SCSS</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.double-string</string>
				<string>com.barebones.bblm.single-string</string>
			</array>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string></string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>rgba(0.816162,0.136085,0.145172,1.000000)</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.css.color-spec</key>
				<string>Color Specification</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.block-comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.scss</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMSupportsWordLookup</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
