<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A322</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Python</string>
	<key>CFBundleGetInfoString</key>
	<string>11.6.2 (397016), copyright ©1992-2016 Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.python</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.6.2</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>397016</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8A218a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8A218a</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>397016</string>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMBalanceSpecialRunKinds</key>
			<array>
				<string>com.barebones.bblm.Pyth.triple-string</string>
			</array>
			<key>BBLMBuiltInCommands</key>
			<array>
				<dict>
					<key>BBLMCommandAlternatives</key>
					<array>
						<dict>
							<key>BBLMCommandOptions</key>
							<dict>
								<key>BBLMCommandOutputWarningsByDefault</key>
								<true/>
								<key>BBLMCommandSaveDocumentBeforeRunning</key>
								<true/>
								<key>BBLMErrorParsePattern</key>
								<string>flake8</string>
								<key>BBLMParseErrorsFromSTDOUT</key>
								<true/>
							</dict>
							<key>BBLMCommandPath</key>
							<string>flake8</string>
							<key>BBLMCommandType</key>
							<string>UnixCommand</string>
						</dict>
					</array>
					<key>BBLMCommandName</key>
					<string>CheckSyntax</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandSaveDocumentBeforeRunning</key>
						<true/>
						<key>BBLMErrorParsePattern</key>
						<string>python-builtin</string>
						<key>BBLMParseErrorsFromSTDOUT</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<string>py_check_syntax.py</string>
					<key>BBLMCommandType</key>
					<string>ScriptInBundleResource</string>
				</dict>
				<dict>
					<key>BBLMCommandAlternatives</key>
					<array>
						<dict>
							<key>BBLMCommandOptions</key>
							<dict>
								<key>BBLMCommandSaveDocumentBeforeRunning</key>
								<true/>
							</dict>
							<key>BBLMCommandPath</key>
							<string>python3</string>
							<key>BBLMCommandType</key>
							<string>UnixCommand</string>
						</dict>
					</array>
					<key>BBLMCommandName</key>
					<string>Run</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandSaveDocumentBeforeRunning</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<array>
						<string>python</string>
					</array>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
				<dict>
					<key>BBLMCommandAlternatives</key>
					<array>
						<dict>
							<key>BBLMCommandArguments</key>
							<array>
								<string>-m</string>
								<string>pdb</string>
							</array>
							<key>BBLMCommandOptions</key>
							<dict>
								<key>BBLMCommandRunInTerminal</key>
								<true/>
								<key>BBLMCommandSaveDocumentBeforeRunning</key>
								<true/>
							</dict>
							<key>BBLMCommandPath</key>
							<string>python3</string>
							<key>BBLMCommandType</key>
							<string>UnixCommand</string>
						</dict>
					</array>
					<key>BBLMCommandArguments</key>
					<array>
						<string>-m</string>
						<string>pdb</string>
					</array>
					<key>BBLMCommandName</key>
					<string>Debug</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandRunInTerminal</key>
						<true/>
						<key>BBLMCommandSaveDocumentBeforeRunning</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<array>
						<string>python</string>
					</array>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
				<dict>
					<key>BBLMCommandName</key>
					<string>ShowDocumentation</string>
					<key>BBLMCommandOptions</key>
					<dict>
						<key>BBLMCommandSaveDocumentBeforeRunning</key>
						<true/>
					</dict>
					<key>BBLMCommandPath</key>
					<array>
						<string>pydoc</string>
					</array>
					<key>BBLMCommandType</key>
					<string>UnixCommand</string>
				</dict>
			</array>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<true/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string># </string>
			<key>BBLMCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.Pyth.decorator</string>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMEntryPointName</key>
			<string>PythonMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywordList</key>
			<array>
				<string>__cmp__</string>
				<string>__eq__</string>
				<string>__future__</string>
				<string>__ge__</string>
				<string>__gt__</string>
				<string>__le__</string>
				<string>__lt__</string>
				<string>__ne__</string>
				<string>and</string>
				<string>as</string>
				<string>assert</string>
				<string>break</string>
				<string>class</string>
				<string>continue</string>
				<string>def</string>
				<string>del</string>
				<string>elif</string>
				<string>else</string>
				<string>except</string>
				<string>exec</string>
				<string>False</string>
				<string>finally</string>
				<string>for</string>
				<string>from</string>
				<string>global</string>
				<string>if</string>
				<string>import</string>
				<string>in</string>
				<string>is</string>
				<string>lambda</string>
				<string>None</string>
				<string>not</string>
				<string>or</string>
				<string>pass</string>
				<string>print</string>
				<string>raise</string>
				<string>return</string>
				<string>self</string>
				<string>True</string>
				<string>try</string>
				<string>while</string>
				<string>with</string>
				<string>yield</string>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Pyth</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Python</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
				<string>com.barebones.bblm.single-string</string>
				<string>com.barebones.bblm.double-string</string>
				<string>com.barebones.bblm.Pyth.triple-string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
				<string>com.barebones.bblm.double-string</string>
			</array>
			<key>BBLMReferenceSearchURLTemplate</key>
			<string>x-pydoc://lookup/__SYMBOLNAME__</string>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.barebones.bblm.Pyth.decorator</key>
				<string>rgba(0.811, 0.145, 0.141, 1.0)</string>
				<key>com.barebones.bblm.Pyth.string-*</key>
				<string>==com.barebones.bblm.Pyth.triple-string</string>
				<key>com.barebones.bblm.Pyth.triple-string</key>
				<string>rgba(1.0, 0.2, 0.6, 1.0)</string>
			</dict>
			<key>BBLMRunNames</key>
			<dict>
				<key>com.barebones.bblm.Pyth.decorator</key>
				<string>Decorators</string>
				<key>com.barebones.bblm.Pyth.triple-string</key>
				<string>Triple-quoted strings</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.line-comment</string>
				<string>com.barebones.bblm.block-comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.py</string>
				</dict>
			</array>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
